@font-face {
    font-family: 'Bariol-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bariol-Regular'), url('Bariol.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* div.header#mini-header {
    display: none;
} */
html,
body {
    font-family: 'Bariol-Regular';
    width: 100%;
    height: 100%;
}

p {
    line-height: 2em;
}

img {
    width: 100%;
}


nav {
    padding: 1.5em;
    display: flex;
    background-color: #120103;
    color: #fff;
    flex-direction: row;
    justify-content: space-between;
}

.jombothron {
    height: 250px;
    background: url('../img/home-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.jombothron>div {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    color: #fff;
    height: 100%;
}

.jombothron>div>span {
    background-color: #000;
    align-self: flex-end;
    padding: 10px;
}

.fancy-heading {
    margin-top: 2rem;
    text-align: center;
}

.fancy-heading>a {
    color: #000 !important;
}

.fancy-heading::before {
    content: '';
    display: block;
    width: 3em;
    height: 4px;
    background-color: #120103;
    position: relative;
    left: 47%;
    margin-bottom: 0.4rem;
}

.fancy-heading+div {
    display: flex;
    justify-content: center;
}

.fancy-heading+div>p {
    width: 30%;
    text-align: center;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    width: 50%;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}

.wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #120103;
    color: #fff;
    text-align: center;
}

#slideNav {
    background-color: #3E474F;
    box-shadow: 0 0.5em 1em #111;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
}

#slideNav label {
    color: #788188;
    cursor: pointer;
    display: inline-block;
    line-height: 4.25em;
    font-size: .667em;
    font-weight: bold;
    padding: 0 1em;
}

#slideNav label:hover {
    background-color: #2e353b;
}


.slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s .75s;
}

.slide-one {
    background-image: url('../img/home-1.jpg')
}

.slide-two {
    background-image: url('../img/home-2.jpg')
}

.slide-three {
    background-image: url('../img/home-3.jpg')
}

.slide-four {
    background-image: url('../img/home-4.jpg')
}

[id^="slide"]:checked+.slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}

.slide h1 {
    opacity: 0;
    transform: translateY(100%);
    transition: transform .5s .5s, opacity .5s;
}

[id^="slide"]:checked+.slide h1 {
    opacity: 1;
    transform: translateY(0);
    transition: all .5s .5s;
}

/* ========================= Login ============================== */

.loginSignUp {
    width: 100%;
    height: 100%;
    background-image: url('../img/form-background.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
}

.loginForm {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm>div {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    width: 40%;
}

.loginForm>div:nth-child(2) {
    flex-direction: column;
    line-height: 1.7em;
}

.loginForm>div>form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3e3e3ed1;
    border-radius: 5px;
}

.loginForm>div>form>input,
button {
    display: block;
    min-width: 48px;
    width: 70%;
    min-height: 48px;
    border-radius: 100px;
}

.loginForm>div>form>input {
    width: 70%;
    margin: 1em 0;
    line-height: 2em;
    padding: 0 1em;
    border-radius: 100px;
}

.loginForm>div>form>input:nth-of-type(1) {
    margin-top: 3em;
}

button {
    margin: 1em 0;
    background-color: #000;
    color: #fff;
    font-size: 1.2em;
}

button+p {
    margin: 0.2em 0 1em;
}

button+p>span {
    font-weight: bold;
}

.homelink {
    margin-bottom: 2em;
}

.homelink a i {
    display: inline-block;
    margin-right: 0.3em;
}


/* ===========================/Login ============================== */

.side_image {
    width: 48%;
    height: 100%;
}

.order-form {
    width: 48%;
}

.order-form form {
    margin: 0 auto;
}

.place-your-order {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
}

.order-form input,
.order-form textarea,
.order-form select,
.order-form button {
    display: block;
    width: 70%;
    margin: 1em auto;
    padding-left: 1em;
}

.order-form input,
.order-form select {
    height: 3em;
}

.news-letter {
    height: 300px;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    background-image: url('../img/news-letter.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.news-letter form {
    width: 40%;
    max-height: 40%;
    margin: auto;
}

.news-letter button {
    margin: 0;
    height: 59px;
    display: inline-block;
    width: 30%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.news-letter input {
    width: 60%;
    height: 60px;
    padding: 0 1rem;
    line-height: 2.8rem;
}

.customer-favorite {
    border-top: 1px solid gray;
    /* border-bottom:1px solid gray; */
    margin: 20rem 0;
    width: 90%;
    margin: 0 auto;
}

.customer-favorite>div {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.food-samples {
    padding-bottom: 4rem;
    border-bottom: 1px solid gray;
}

.customer-favorite h3 {
    text-align: center;
    margin-top: 2rem;
}

.customer-favorite>div img {
    max-width: 24.5%;
    max-height: 240px;
}

.testimonial p {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

footer {
    height: 50px;
    background-color: #000;
    display: flex;
    justify-content: center;
    margin-top: 5em;
    align-items: center;
    color: #fff;
}

.place-order {
    width: 100%;
    margin: 3rem 0;
}

table {
    border: 1px solid gray;
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
}

th,
td {
    border: 1px solid gray;
    min-width: 150px;
    height: 40px;
    margin: auto;
    padding: 0.8rem;
}

tr>td:nth-child(6) {
    min-width: 220px;
}

tr>td:nth-child(6) span {
    display: inline-flex;
    justify-content: center;
    background-color: #120103;
    width: 85px;
    color: #fff;
    padding: 1em;
    border-radius: 30px;
}

tr > td:nth-child(6){
    min-width:220px;
}
tr > td:nth-child(6) span{
display:inline-flex;
justify-content: center;
background-color:#120103;
width:85px;
color:#fff;
padding:1em;
border-radius:30px;
}
.statistics {
    background: url(../img/home-4.jpg);
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0);
    background-repeat: no-repeat;
    background-position: 23% 10%;
    background-size: cover;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.statistics>div {
    width: 20%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.feedusback {
    background-color: #80808017;
    padding: 3rem;
}

.feedback figure {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3rem auto;
}

.feedback figure img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.feedback figcaption {
    margin-top: 2rem;
}

.customer-care {
    background-color: #80808017;
    margin: 6rem 0;
    padding: 1rem;
}

.complaint {
    display: flex;
    margin-top: 3rem;
}

.complaint>div:nth-child(1) {
    padding: 0 2rem;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
}

.complaint>div:nth-child(1) p {
    margin-top: 2rem;
}

.complaint>div:nth-child(2) {
    display: inline-flex;
    justify-content: center;
}

.complaint>div:nth-child(2) img {
    width: 80%;
    max-height: 350px;
}

.complaint>div {
    width: 48%;
}

.complaint span {
    padding: 0.4rem;
}

#hmbutton {
    position: absolute;
    z-index: -2000;
    z-index:-2000;
}

label[for="hmbutton"] {
    position: absolute;
    left: 80%;
    border: 1px solid #fff;
    padding: 0.5rem;
    border-radius: 3px;
    z-index: -2000;
}

.img-wrapper {
    height: 100%;
    background-image: url('../img/dummy-food.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.food-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 280px;
    justify-content: space-around;
}

.food {
    max-width: 22%;
    height: inherit;
    flex: 200px;
}

.mt {
    margin-bottom: 6em;
}

.shoppingchart {
    background-image: url('../img/shoppingcart.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    position: fixed;
    top:80vh;
    left:95%;
    height: 40px;
    width: 40px;
}
.shoppingchart span{
    position:absolute;
    left: 21px;
    top:-10px;
    color:red;
    font-weight:bolder;
}
.food img {
    height: 100%;
    /* flex-basis:250px; */
}

a.add {
    /* color:; */
    background-color: #120103;
    display: inline-block;
    padding: 0.5em;
    font-size: 0.9em;
    border-radius: 5px;
    width: 4em;
    text-align: center;
}

.order-action {
    /* border:1px solid red; */
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

input.quantity {
    width: 40%;
    border: 1px solid #120103;
    padding: 0 0.5em;
}
input#modalWindow{
    position:absolute;
    z-index:-1000;
    top:-1000px;
  } 
  button{
    min-width:48px;
    border:1px teal solid;
    border-radius:3px;
  }
  button > label{
    height:2em;
    padding:1em;
  }
  div p{
    -ms-flex-item-align:center;
        align-self:center;
    color:#fff;
    width:80%;
    text-justify:justify;
  }

#main{
    position:absolute;
    top:15%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    min-width:100%;
    min-height:100vh;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
  }
  #modalButton{
   position:absolute; 
    -ms-flex-item-align:center; 
        align-self:center;
  }
  #modalValue{
    z-index:-100;
    opacity:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    width:60%;
    min-height:80vh;
    background-color:rgba(15, 13, 13,1);
    -webkit-transform:scale(0.1);
    transform:scale(0.1);
    -webkit-transition:all 0.5s cubic-bezier(0,-0.63,1,1.69);
  transition:all 0.5s cubic-bezier(0,-0.63,1,1.69);
  }
 
  #modalValue > label{
    -ms-flex-item-align:end;
        align-self:flex-end;
    margin-right:5em;
    color:#fff;
  }
  input:checked + div + div#modalValue{
    opacity:1;
    z-index:100;
    -webkit-transform:scale(1);
    transform:scale(1);
  }
@media(max-width:375px) {
    .loginForm div:nth-child(1) {
        width: 100%;
    }

    .loginForm div:nth-child(2) {
        display: none;
    }
}

@media(max-width:768px) {
    section#nl-section,
    footer {
        display: none;
    }

    .food-row {
        flex-direction: row;
    }

    .order-action {
        width: 60px !important;
        border: 1px solid red;
    }

    .food,
    .food-row {
        margin-bottom: 4em;
    }

    section#nl-section {
        display: none;
    }

    section,
    section>div,
    div {
        min-width: 100%;
    }

    .food-samples {
        display: flex;
        flex-direction: column;
    }

    .food-samples img {
        flex: 1;
        min-width: 100%;
        margin-bottom: 0.9em;
    }

    .testimonial {
        display: flex;
    }

    .testimonial>p {
        flex: 1;
        padding: 0 5%;
    }

    .fancy-heading+div>p {
        width: 100%;
    }

    .side_image {
        display: none;
    }

    .order-form>form>input,
    .order-form form>select,
    .order-form form>textarea,
    .order-form button {
        width: 90%;
    }

    #hmbutton+ul {
        opacity: 0;
        z-index: -2000;
        width: 100%;
        position: absolute;
        flex-direction: column;
        top: 4.5rem;
        background-color: #120103;
        width: 90%;
    }

    #hmbutton+ul li {
        /* display:block; */
        padding: 0.5rem;
    }

    #hmbutton {
        z-index: -2000;
    }

    label[for="hmbutton"] {
        z-index: 12000;
    }

    #hmbutton:checked+ul {
        opacity: 1;
        z-index: 2000;
    }

    .feedback {
        display: flex;
        flex-direction: column;
    }

    .feedback figure {
        width: 100%;
    }

    .complaint {
        display: flex;
        flex-direction: column;
    .feedback{
       display:flex;
       flex-direction:column; 
    }
    .feedback figure{
        width:100%;
    }
    .complaint{
        display:flex;
        flex-direction:column;
    }
}